/* Allgemeine Styles (Reset, Typografie, Farben) */
h1 {
    color:  white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  
  }
  h2 {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  }
  p {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  }
  
  a {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: #161B22;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    } 
 
