h1 {
    color:rgb(139, 139, 139);
    text-align: center;
    font-family: Arial, 
    font-size: 50px;
}

div {
    background-color: black;
    background-size: 50px;
}
.Copyright {
    color:rgb(139, 139, 139);
    font-family: Arial, 
    font-size: 15px;
}
.black-box {
    width: 100%;
    height: 900px;
    background-color: black; 
}

.startmenu {
    color:rgb(139, 139, 139);
    text-align: right;
    font-family: Arial, 
    font-size: 20px;

}
.startMenulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
    display: flex;
    justify-content: flex-end;
}
.startmenu {
    display: block;
    color: rgb(139, 139, 139);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .centerbutton {
    border: darkblue;
    color: darkblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
    
    .centerbutton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

  body {
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#leftbutton {
    left: 10px;
  }
  

  #rightbutton {
    right: 10px;
  }
  </style>
  </head>
  <body>