h1 {
    color:  white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  
  }
  h2 {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  }
  p {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  }
  
  a {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-image: url(/minecraft/2020-12-01-advent.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    }  

    .downloads {
      background-color: transparent;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
      border: none;
      text-decoration: none;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 4px;
      display: block;
      margin: 20px auto;
    }

    .downloads:hover {
      background-color: transparent;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }
    
  /*minecraft ip*/
  .container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1
  }
    .copy-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  
  .copy-btn:hover {
      background-color: #45a049;
  }
  
  .message {
      display: none;
      color: green;
      font-size: 16px;
      margin-top: 10px;
  }